<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ApiGoodsMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.platform.entity.GoodsVo" id="goodsMap">
        <result property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="goodsSn" column="goods_sn"/>
        <result property="name" column="name"/>
        <result property="brandId" column="brand_id"/>
        <result property="goodsNumber" column="goods_number"/>
        <result property="keywords" column="keywords"/>
        <result property="goodsBrief" column="goods_brief"/>
        <result property="goodsDesc" column="goods_desc"/>
        <result property="isOnSale" column="is_on_sale"/>
        <result property="addTime" column="add_time"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="isDelete" column="is_delete"/>
        <result property="attributeCategory" column="attribute_category"/>
        <result property="counterPrice" column="counter_price"/>
        <result property="extraPrice" column="extra_price"/>
        <result property="isNew" column="is_new"/>
        <result property="goodsUnit" column="goods_unit"/>
        <result property="primaryPicUrl" column="primary_pic_url"/>
        <result property="listPicUrl" column="list_pic_url"/>
        <result property="retailPrice" column="retail_price"/>
        <result property="marketPrice" column="market_price"/>
        <result property="sellVolume" column="sell_volume"/>
        <result property="primaryProductId" column="primary_product_id"/>
        <result property="unitPrice" column="unit_price"/>
        <result property="promotionDesc" column="promotion_desc"/>
        <result property="promotionTag" column="promotion_tag"/>
        <result property="appExclusivePrice" column="app_exclusive_price"/>
        <result property="isAppExclusive" column="is_app_exclusive"/>
        <result property="isLimited" column="is_limited"/>
        <result property="isHot" column="is_hot"/>
        <result property="productId" column="product_id"/>
    </resultMap>

    <select id="queryObject" resultMap="goodsMap">
		select * from nideshop_goods where id = #{value}
	</select>

    <select id="queryList" resultMap="goodsMap">
        select
        <if test="fields != null and fields != ''">
            ${fields}
        </if>
        <if test="fields == null or fields == ''">
            *
        </if>
        from nideshop_goods
        where 1 = 1
        <if test="isNew != null and isNew != ''">
            and is_new = #{isNew}
        </if>
        <if test="isHot != null and isHot != ''">
            and is_hot = #{isHot}
        </if>
        <if test="brandId != null and brandId != ''">
            and brand_id = #{brandId}
        </if>
        <if test="name != null and name != ''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="categoryId != null and categoryId != ''">
            and category_id = #{categoryId}
        </if>
        <if test="keyword != null">
            and keywords like concat('%',#{keyword},'%')
        </if>
        <if test="isDelete != null">
            and is_delete = #{isDelete}
        </if>
        <if test="isOnSale != null and isOnSale != ''">
            and is_on_sale = #{isOnSale}
        </if>
        <if test="categoryIds != null">
            and category_id in
            <foreach item="item" collection="categoryIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="goodsIds != null">
            and id in
            <foreach item="item" collection="goodsIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>

    <select id="queryHotGoodsList" resultMap="goodsMap">
        select a.*,b.id as product_id
        from nideshop_goods a
        left join nideshop_product b on a.id = b.goods_id
        left join nideshop_product c on a.id = c.goods_id and c.retail_price > b.retail_price and b.id != c.id
        where 1 = 1 and b.id is not null and c.id is null and a.is_delete != 1
        <if test="isNew != null and isNew != ''">
            and a.is_new = #{isNew}
        </if>
        <if test="isHot != null and isHot != ''">
            and a.is_hot = #{isHot}
        </if>
        <if test="brandId != null and brandId != ''">
            and a.brand_id = #{brandId}
        </if>
        <if test="name != null and name != ''">
            and a.name like concat('%',#{name},'%')
        </if>
        <if test="categoryId != null and categoryId != ''">
            and a.category_id = #{categoryId}
        </if>
        <if test="keyword != null">
            and a.keywords like concat('%',#{keyword},'%')
        </if>
        <if test="categoryIds != null">
            and a.category_id in
            <foreach item="item" collection="categoryIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="goodsIds != null">
            and a.id in
            <foreach item="item" collection="goodsIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by a.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryCatalogProductList" resultMap="goodsMap">
        select a.id, a.name, a.list_pic_url, a.market_price, a.retail_price, a.goods_brief, b.id AS
        product_id,count(og.id) as order_num
        from nideshop_goods a
        left join nideshop_product b on a.id = b.goods_id
        left join nideshop_product c on a.id = c.goods_id and c.retail_price > b.retail_price and b.id != c.id
        left join nideshop_order_goods og on og.product_id = b.id
        <if test="is_group != null and is_group == true">
            left join nideshop_goods_group gg on gg.goods_id = a.id
        </if>
        where 1 = 1 and b.id is not null and c.id is null and a.is_delete != 1
        <if test="isNew != null and isNew != ''">
            and a.is_new = #{isNew}
        </if>
        <if test="isHot != null and isHot != ''">
            and a.is_hot = #{isHot}
        </if>
        <if test="brandId != null and brandId != ''">
            and a.brand_id = #{brandId}
        </if>
        <if test="name != null and name != ''">
            and a.name like concat('%',#{name},'%')
        </if>
        <if test="categoryId != null and categoryId != ''">
            and a.category_id = #{categoryId}
        </if>
        <if test="keyword != null">
            and a.keywords like concat('%',#{keyword},'%')
        </if>
        <if test="is_group != null and is_group == true">
            and gg.id is not null
        </if>
        <if test="categoryIds != null">
            and a.category_id in
            <foreach item="item" collection="categoryIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="goodsIds != null">
            and a.id in
            <foreach item="item" collection="goodsIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        group by a.id, a.name, a.list_pic_url, a.market_price, a.retail_price, a.goods_brief, b.id
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by a.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
		select count(*) from nideshop_goods
		where 1 = 1
        <if test="isDelete != null">
            and is_delete = #{isDelete}
        </if>
        <if test="isOnSale != null and isOnSale != ''">
            and is_on_sale = #{isOnSale}
        </if>
	</select>
</mapper>
