@font-face {
  font-family: 'iconfont';  /* project id 563608 */
  src: url('//at.alicdn.com/t/font_563608_omsn38y5qwr8uxr.eot');
  src: url('//at.alicdn.com/t/font_563608_omsn38y5qwr8uxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_563608_omsn38y5qwr8uxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_563608_omsn38y5qwr8uxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_563608_omsn38y5qwr8uxr.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}