TZ=Asia/Shanghai
MAVEN_PROFILE=dev
NGINX_PORT=8888
MYSQL_PORT=3306
REDIS_PORT=6379
MYSQL_DATABASE=platform
MYSQL_ROOT_PASSWORD=root1234
REDIS_PASSWORD=
PLATFORM_ADMIN_JAVA_OPTS=-Xms256m -Xmx512m
PLATFORM_API_JAVA_OPTS=-Xms256m -Xmx512m
