.icon-0{
	background:url('icons/home.png') no-repeat center center;
}
.icon-1{
	background:url('icons/xitongleibie.png') no-repeat center center;
}
.icon-2{
	background:url('icons/xitong.png') no-repeat center center;
}
.icon-3{
	background:url('icons/mulu.png') no-repeat center center;
}
.icon-4{
	background:url('icons/gongneng.gif') no-repeat center center;
}
.icon-5{
	background:url('icons/kongzhidian.png') no-repeat center center;
}
.collaboration{
	background:url('icons/collaboration.png') no-repeat center center;
}
.icon-send{
	background:url('icons/flow_send.png') no-repeat center center;
}
.icon-childline{
	background:url('icons/flow_childline.png') no-repeat center center;
}
.icon-ccsmall{
	background:url('icons/flow_cc.png') no-repeat center center;
}
.icon-transfer{
	background:url('icons/flow_transfer.png') no-repeat center center;
}
.icon-flowmap{
	background:url('icons/flow_map.png') no-repeat center center;
}
.icon-hungup{
	background:url('icons/flow_hungup.png') no-repeat center center;
}
.icon-new{
	background:url('icons/new.png') no-repeat center center;
}
.icon-add{
	background:url('icons/add.gif') no-repeat center center;
}
.icon-config{
	background:url('icons/config.gif') no-repeat center center;
}
.icon-up{
	background:url('icons/up.gif') no-repeat center center;
}
.icon-down{
	background:url('icons/down.gif') no-repeat center center;
}
.icon-delete{
	background:url('icons/delete.gif') no-repeat center center;
}
.icon-rights{
	background:url('icons/rights.gif') no-repeat center center;
}
.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-person{
	background:url('icons/person.png') no-repeat center center;
}
.icon-tree_folder{
	background:url('icons/tree_folder.gif') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-save-close{
	background:url('icons/save_close.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-reset{
	background:url('icons/reset.gif') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-note{
	background:url('icons/flow_note.png') no-repeat center center;
}
.icon-tag{
	background:url('icons/flow_tag.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/UnSend.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-seasons{
	background:url('icons/seasons.png') no-repeat center center;
}
.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}
.form0{
	background:url('icons/form0.png') no-repeat center center;
}
.form1{
	background:url('icons/form1.png') no-repeat center center;
}
#pageloading
{
    position: absolute;
    left: 0px;
    top: 0px;
    background: white url('icons/loading.gif') no-repeat center;
    width: 100%;
    height: 100%;
    z-index: 99999;
    filter: Alpha(Opacity=50);
}